.ml-sm {
  margin-left: 0.25rem;
}
.ml-md {
  margin-left: 0.5rem;
}
.ml-lg {
  margin-left: 1rem;
}
.ml-xl {
  margin-left: 2rem;
}
.ml-2xl {
  margin-left: 4rem;
}
.ml-auto {
  margin-left: auto;
}
.ml-full {
  margin-left: 100%;
}
