.mt-sm {
  margin-top: 0.25rem;
}
.mt-md {
  margin-top: 0.5rem;
}
.mt-lg {
  margin-top: 1rem;
}
.mt-xl {
  margin-top: 2rem;
}
.mt-2xl {
  margin-top: 4rem;
}
.mt-auto {
  margin-top: auto;
}
.mt-full {
  margin-top: 100%;
}
