.mx-sm {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.mx-md {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.mx-lg {
  margin-left: 1rem;
  margin-right: 1rem;
}
.mx-xl {
  margin-left: 2rem;
  margin-right: 2rem;
}
.mx-2xl {
  margin-left: 4rem;
  margin-right: 4rem;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.mx-full {
  margin-left: 100%;
  margin-right: 100%;
}
