.pr-sm {
  padding-right: 0.25rem;
}
.pr-md {
  padding-right: 0.5rem;
}
.pr-lg {
  padding-right: 1rem;
}
.pr-xl {
  padding-right: 2rem;
}
.pr-2xl {
  padding-right: 4rem;
}
.pr-auto {
  padding-right: auto;
}
.pr-full {
  padding-right: 100%;
}
