.px-sm {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.px-md {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.px-lg {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-xl {
  padding-left: 2rem;
  padding-right: 2rem;
}
.px-2xl {
  padding-left: 4rem;
  padding-right: 4rem;
}
.px-auto {
  padding-left: auto;
  padding-right: auto;
}
.px-full {
  padding-left: 100%;
  padding-right: 100%;
}
