.py-sm {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.py-md {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-lg {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-xl {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.py-2xl {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.py-auto {
  padding-top: auto;
  padding-bottom: auto;
}
.py-full {
  padding-top: 100%;
  padding-bottom: 100%;
}
