.w-sm {
  width: 8rem;
}
.w-md {
  width: 16rem;
}
.w-lg {
  width: 24rem;
}
.w-xl {
  width: 32rem;
}
.w-2xl {
  width: 48rem;
}
.w-3xl {
  width: 65rem;
}
.w-4xl {
  width: 80rem;
}
.w-5xl {
  width: 100rem;
}
.w-full {
  width: 100%;
}
.w-screen {
  width: 100vw;
}
.w-max {
  width: max-content;
}
